<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lebowski Lorem Ipsum</title>
    <link rel="stylesheet" type= "text/css" href="./stylesheets/styles.css">
  </head>
  <body>
  <h1>{{message}}</h1>
  <h2>{{error.status}}</h2>
  {{#error}}
  <p>{{stack}}</p>
  {{/error}}
  </body>
</html>
