<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lebowski Lorem Ipsum</title>
    <link rel="stylesheet" type= "text/css" href="./styles.css">
  </head>
  <body>
    <p>hello</p>

    {{content}}
  </body>
</html>