<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lebowski Lorem Ipsum</title>
    <link rel="stylesheet" type= "text/css" href="./stylesheets/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>
   <header class = "header">
      <div class="stars-container">
      <h1 class ="header-text"> The Lorem Abides</h1>
      <h3 class ="sub-header-text"> The Big Lebowski Lorem Ipsem Generator, Man.</h3>
      </div>
    </header>
    <div class="bowling">
    <form action="/" method="get">
      <label for="words">Words</label>
      <select name="words">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
      </select>
      <label for="sentences">Sentences</label>
      <select name="sentences">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="paragraphs">Paragraphs</label>
      <select name="paragraphs">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <div class="submit">
      <input class="button" type="submit" value="Let's Bowl!">
      </div>
    </form>
    </div>
  </body>
</html>
